/* 기본 네비게이션 바 스타일 */
.custom-navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1030;
    transition: background-color 0.3s ease;
    background-color: transparent; /* 초기 상태에서 투명 배경 */
    font-size: 1.3rem;
}

/* 스크롤된 상태의 네비게이션 바 스타일 */
.custom-navbar.scrolled {
    background-color: #1abc9c; /* 스크롤 후 배경색 */
}

.custom-navbar:hover {
    background-color: #1abc9c;
}

.nav-link {
    position: relative;
    padding-bottom: 0.5rem;
    color: white;
    overflow: hidden;
    font-weight: bold;
}

.nav-link:hover {
    color: white;
}

.navbar-toggler-icon {
    background-color: #1abc9c;
}

/* 하이라이트 바 기본 스타일 */
.nav-item .nav-link::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: transparent;
    transition: width 0.3s ease, background-color 0.3s ease;
    transform: translateX(-50%);
}

.nav-link::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: transparent;
    transition: width 0.3s ease, background-color 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
    background-color: white;
}

.logo5 {
    width: 80px;
    height: auto;
    object-fit: cover;
    filter: brightness(200%);
}

.navbar-nav {
    --bs-nav-link-hover-color: white;
}

.navbar-toggler {
    margin-left: auto;
}

.navbar-logo {
    width: 1000px;
    height: 1000px;
    margin: 0;
    padding: 0;
}

@media (max-width: 992px) {
    .navbar-nav .nav-link::after {
        display: none;
    }
    .navbar-toggler {
        text-align: center;
    }
    .dropdown-menu {
        text-align: center;
    }
    .custom-navbar {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1030;
        transition: background-color 0.3s ease;
        background-color: #1abc9c; /* 초기 상태에서 투명 배경 */
    }
}
